<div class="post">
  <div class="header">
    <h1>post title</h1>

    <button
      routerLink="/"
      class="btn btn-link">На главную</button>
  </div>

  <div class="info">
    <strong>Тут Автор</strong>
    <small>12.09.2019</small>
  </div>

  <div>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus aperiam magni non sed sint? Debitis eum libero nesciunt quis quisquam! </p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus aperiam magni non sed sint? Debitis eum libero nesciunt quis quisquam! </p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus aperiam magni non sed sint? Debitis eum libero nesciunt quis quisquam! </p>
  </div>

</div>
